

.homestyle{

    background-color: rgb(154, 49, 180);
    font-size: xx-large;
    width: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.text1{
    
    margin-top: 100px;
    color: antiquewhite;
    border: 10px;
    padding: 20px;
   
}